body {
    background: #23272A;
}

.container {
 width: 80%;
 margin: 0 auto;
}

header {
    background: #2C2F33;


}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content2 {
    width: 300px !important;
    height:300px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}



